<template>
  <div class="entry-container mb-3 pointer p-2"
    @click="$router.push({name:'daybook-entry', params:{id:100}})"
  >
    <div class="entry-title d-flex">
      <span class="text-success fs-5 fw-bold">17</span>
      <span class="mx-1 fs-5">Enero</span>
      <span class="mx-2 fw-light">2022, lunes</span>
    </div>

    <div class="entry-description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at quam id diam tempor dignissim. Pellentesque
      fringilla placerat tristique. Ut eu ante sit amet justo porttitor finibus. Vivamus in turpis ut libero efficitur
      porttitor sed vitae ligula.
    </div>

  </div>
</template>

<script>

export default {
  name: "Entry",

}
</script>

<style lang="scss" scoped>
.entry-container {
  border-bottom: 1px solid #2ce350;
  transition: 0.2s all ease-in;

  &:hover {
    background-color: lighten($color: grey, $amount: 45);
    transition: 0.2s all ease-in;

  }


  .entry-description {
    font-size: 12px;
  }

}


</style>