<template>
  <button class="btn btn-primary">
    <i :class="'fa fa-2x ' + icon" />
  </button>
</template>

<script>
export default {
  props:{
    icon:{
      type: String,
      required: false,
      default:'fa-plus'
    }
  },
  name: "Fab"
}
</script>

<style lang="scss" scoped>
  button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 55px;
    height: 55px;
    border-radius: 100%;
  }
</style>