<template>
  <div class="entry-title d-flex justify-content-between p-2">
    <div>
      <span class="text-success fs-3 fw-bold">17</span>
      <span class="mx-1 fs-3 fw-bold">Enero</span>
      <span class="mx-2-success fs-3 fw-light">2022, lunes</span>
    </div>

    <div>

      <button class="btn btn-danger mx-2">
        <i class="fa fa-trash" /> Borrar
      </button>

      <button class="btn btn-primary">
        <i class="fa fa-camera" /> Subir Foto
      </button>

    </div>

  </div>

  <hr />
  <div class="d-flex flex-column px-3 h-75">
    <textarea placeholder="¿Que sucedio hoy?"></textarea>
  </div>

  <Fab icon="fa-save" />

  <img
      src="https://www.spieltimes.com/wp-content/uploads/2021/12/Guide-How-to-build-career-as-a-programmer-without-college-degree.jpg"
      alt="entry-picture"
      class="img-thumbnail"
  />
</template>

<script>
import {defineAsyncComponent} from "vue";

export default {
  name: "EntryView",
  components:{
    Fab: defineAsyncComponent(() => import(/* webpackChunkName: "Entry" */ "@/modules/daybook/components/Fab"))
  }
}
</script>

<style lang="scss" scoped>
textarea{
  font-size: 20px;
  border: none;
  height: 100%;

  &:focus{
    outline: none;
  }
}

img{
  width: 200px;
  position: fixed;
  bottom: 150px;
  right: 20px;
  box-shadow: 0px 5px 10px rgba($color: #000000, $alpha: 0.2);
}
</style>