<template>
  <Navbar />

  <div class="d-flex">
    <div class="col-4">
      <EntryList />
    </div>

    <div class="col-8">
      <router-view />
    </div>
  </div>
</template>

<script>
import {defineAsyncComponent} from "vue";
export default {
  name: "DayBookLayout",
  components: {
    EntryList: defineAsyncComponent(() => import(/* webpackChunkName: "EntryList" */ "@/modules/daybook/components/EntryList")),
    Navbar: defineAsyncComponent(() => import(/* webpackChunkName: "Navbar" */ "@/modules/daybook/components/Navbar"))
  }
}
</script>

<style scoped>

</style>