<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
  </div>

  <button @click="goToDaybook" class="btn btn-primary">Primary</button>
  <button @click="goToDaybook"  class="btn btn-secondary">Secondary</button>
  <button @click="goToDaybook"  class="btn btn-success">Success</button>

</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
  methods: {
    goToDaybook() {
      this.$router.push({ name: 'daybook-no-entry' })
    }
  }
}
</script>
